body{
  /* background-color:#545454!important; */
  font-family:  Arial, Helvetica, sans-serif;;

 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table {
  list-style-type: none;
  cursor: pointer;
  font-size: 20px;
 
  /* color: white; */
  line-height: 60px;
}
td:hover{
color: rgb(28,192,169)!important;
}
h1{
  border-radius: 50px;
  
}
.details{
  font-size: 20px;
/* color: white; */
}
.out{
  color: rgb(28,192,169)!important;
  font-weight: bolder;
  padding: 10px;
}
.out:hover{
background-color: black;
border-radius: 10%;

 
}
.load{
  font-size: 45px;
 /* margin-top: 50%; */

  color: rgb(28,192,169)!important;
  /* text-align: center; */
}
.bg-register-image {
  background: url(login@4x.png);
  background-position: cover;
  background-size: 100% 100%;
  border-radius: 10%;
}

.btn-info{
  background-color:rgb(28,192,169)!important;
}

thead{
  background-color: gainsboro;
}

.id{
  color:rgb(28,192,169) ;
}
.images{
  width: 15%;
}
.name{
  color:rgb(28,192,169) ;
}


.navbar-brand:hover{
color: rgb(28,192,169) !important;
}
.lag{
  color: rgb(28,192,169);
}
